1 Введите дельту (+/-) в рублях. не понятноо лучше на человеческом объяснять при корректировке баланса
2 также я админ но бот говорит я не админ и мне нельзя корректировать баланса
3 при создании сделки вводил имя пользователя а он по итогу сказал Имя клиента обязательно.
