Хромированный слиток = 128 = 2 стака
продвинутый корпус механизма = 256 = 4 стака
продвинутая электросхема = 256 = 4 стака
основной корпус механизма = 256 = 4 стака
электросхема = 256 = 4 стака 

Мана нить = 64 = 1 стак
Слиток манастали = 256 = 4 стака
Мана пыль = 256 = 4 стака 
Манаалмаз = 128 = 2 стака 
Жемчуг маны = 64 = 1 стак 

слиток элеметния = 256 = 4 стака
Камень дракона = 128 = 2 стака
Пыльца феи = 64 = 1 стак 

Сбаланс кристал = 512 = 8 стака = 15 золота
Алюментум = 256 = 4 стака = 45 золота
Нитор = 256 = 4 стака = 45 золота
Магический жир = 256 = 4 стака = 45 золота
Таум слиток = 1024 = 16 стака = 15 золота
Зачаровання ткань = 256 = 4 стака = 45 золота
Сингулярный амулет = 64 = 1 стак = 90 золота






1 после нажатия профиль не выдается текст с кнопкной назад
2 баг не исчез с объявлением при введение 1 или 2 выдает один и тот